<div class="wrapper-box">
    <div class="container">
      <div class="row">
        <div class="col-md-6 offset-md-3">
          <form [formGroup]="FormData" (ngSubmit)="onSubmit(FormData.value)">
            <mat-form-field class="example-full-width">
            <mat-label>Email</mat-label>
              <input type="email" matInput placeholder="Ex. pat@example.com" formControlName="Email">
              <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                    Please enter a valid email address
               </mat-error>
              <mat-error *ngIf="emailFormControl.hasError('required')">
                 Email is <strong>required</strong>
              </mat-error>
             </mat-form-field>
             <mat-form-field class="example-full-width">
              <mat-label>Fullname</mat-label>
              <input matInput
              placeholder="Full Name"
              formControlName="Fullname">
            </mat-form-field>
            <mat-form-field class="example-full-width">
              <mat-label>Comment</mat-label>
              <textarea matInput placeholder="Write your query here.." formControlName="Comment"></textarea>
            </mat-form-field>

            <div class="example-button-row">
              <button  type="submit"  mat-raised-button color="primary">Submit</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  